<div [formGroup]="group!" class="row mb-3">

    <!-- LABEL -->
    <label class="col-md-2 col-form-label"> {{ label }} </label>

    <!-- INPUT -->
    <div class="col-md-10">
        <!-- Checkbox -->
        @if (rowType === 'checkbox') {
            <div class="form-check form-switch">
                <input [id]="field" [formControlName]="field" type="checkbox" class="form-check-input" role="switch" />
            </div>
            
        <!-- Texto -->
        } @else if (rowType === 'text' || rowType === 'password' || rowType === 'email' || rowType === 'tel') {
            <input [id]="field" [type]="rowType" [formControlName]="field" class="form-control {{ getInputClasses() }}" />
        } @else if (rowType === 'number') {
            <input [id]="field" type="number" [formControlName]="field" class="form-control {{ getInputClasses() }}" />
        } @else if (rowType === 'textarea') {
            <textarea [id]="field" [formControlName]="field" class="form-control {{ getInputClasses() }}"></textarea>

        <!-- Select -->    
        } @else if (rowType === 'select') {
        <select [id]="field" [formControlName]="field" class="form-select {{ getInputClasses() }}">
            <option [ngValue]="null" i18n="@@select.empty.label">Elige una opción</option>
                @for (option of optionsMap | keyvalue; track option.key) {
            <option [ngValue]="option.key">{{ option.value }}</option>
            }
        </select>
        
        <!-- Date -->
        } @else if (rowType === 'datetime-local') {
            <input [id]="field" type="datetime-local" [formControlName]="field" class="form-control {{ getInputClasses() }}" />
            }
        
        <app-input-errors [control]="control" />
    </div>
    
</div>
