<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@direccion.edit.headline">Editar Dirección</h1>
    <div>
        <a routerLink="/direccions" class="btn btn-secondary" i18n="@@direccion.edit.back">Volver</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@direccion.id.label" label="Id" />
    <app-input-row [group]="editForm" field="direccionString" i18n-label="@@direccion.direccionString.label" label="Direccion String" />
    <app-input-row [group]="editForm" field="direccion1" i18n-label="@@direccion.direccion1.label" label="Direccion1" />
    <app-input-row [group]="editForm" field="direccion2" i18n-label="@@direccion.direccion2.label" label="Direccion2" />
    <app-input-row [group]="editForm" field="ciudad" i18n-label="@@direccion.ciudad.label" label="Ciudad" />
    <app-input-row [group]="editForm" field="pais" i18n-label="@@direccion.pais.label" label="Pais" />
    <app-input-row [group]="editForm" field="codPostal" i18n-label="@@direccion.codPostal.label" label="Código Postal" />
    <input type="submit" i18n-value="@@direccion.edit.headline" value="Editar Dirección" class="btn btn-primary mt-4" />
</form>
