<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1">Crea una Dirección</h1>
    <div>
        <a routerLink="/direcciones" class="btn btn-secondary">Volver</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="direccionString" label="Dirección Completa" />
    <app-input-row [group]="addForm" field="direccion1" label="Dirección 1" />
    <app-input-row [group]="addForm" field="direccion2" label="Dirección 2" />
    <app-input-row [group]="addForm" field="ciudad" label="Ciudad" />
    <app-input-row [group]="addForm" field="pais" label="País" />
    <app-input-row [group]="addForm" field="codPostal" label="Cód. Postal" />
    <input type="submit"value="Crear Dirección" class="btn btn-primary mt-4" />
</form>
