<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" >Editar Dirección</h1>
    <div>
        <a routerLink="/direcciones" class="btn btn-secondary" >Volver</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" label="Id" />
    <app-input-row [group]="editForm" field="direccionString" label="Direccion String" />
    <app-input-row [group]="editForm" field="direccion1" label="Direccion1" />
    <app-input-row [group]="editForm" field="direccion2" label="Direccion2" />
    <app-input-row [group]="editForm" field="ciudad" label="Ciudad" />
    <app-input-row [group]="editForm" field="pais" label="Pais" />
    <app-input-row [group]="editForm" field="codPostal" label="Código Postal" />
    <input type="submit" value="Editar Dirección" class="btn btn-primary mt-4" />
</form>
