<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1">Crea un Aeropuerto</h1>
    <div>
        <a routerLink="/aeropuertos" class="btn btn-secondary">Volver</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
  <app-input-row [group]="addForm" field="nombre"  label="Nombre" />
  <app-input-row [group]="addForm" field="ciudad"  label="Ciudad" />
  <app-input-row [group]="addForm" field="ciudadAbrev"  label="Ciudad Abrev." />
  <app-input-row [group]="addForm" field="pais" label="País" />
  <input type="submit" value="Crear Aeropuerto" class="btn btn-primary mt-4" />
</form>
