<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@aeropuerto.edit.headline">Editar Aeropuerto</h1>
    <div>
        <a routerLink="/aeropuertos" class="btn btn-secondary" i18n="@@aeropuerto.edit.back">Volver</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@aeropuerto.id.label" label="Id" />
    <app-input-row [group]="editForm" field="nombre" i18n-label="@@aeropuerto.nombre.label" label="Nombre" />
    <app-input-row [group]="editForm" field="ciudad" i18n-label="@@aeropuerto.ciudad.label" label="Ciudad" />
    <app-input-row [group]="editForm" field="ciudadAbrev" i18n-label="@@aeropuerto.ciudadAbrev.label" label="Ciudad Abrev" />
    <app-input-row [group]="editForm" field="pais" i18n-label="@@aeropuerto.pais.label" label="Pais" />
    <input type="submit" i18n-value="@@aeropuerto.edit.headline" value="Editar Aeropuerto" class="btn btn-primary mt-4" />
</form>
