<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1">Editar Aeropuerto</h1>
    <div>
        <a routerLink="/aeropuertos" class="btn btn-secondary">Volver</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
  <app-input-row [group]="editForm" field="id" rowType="number" label="id" />
  <app-input-row [group]="editForm" field="nombre" label="Nombre" />
  <app-input-row [group]="editForm" field="ciudad" label="Ciudad" />
  <app-input-row [group]="editForm" field="ciudadAbrev" label="Ciudad Abrev." />
  <app-input-row [group]="editForm" field="pais" label="País" />
  <input type="submit" value="Editar Aeropuerto" class="btn btn-primary mt-4" />
</form>