<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@aeropuerto.add.headline">Crea un Aeropuerto</h1>
    <div>
        <a routerLink="/aeropuertos" class="btn btn-secondary" i18n="@@aeropuerto.add.back">Volver</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="nombre" i18n-label="@@aeropuerto.nombre.label" label="Nombre" />
    <app-input-row [group]="addForm" field="ciudad" i18n-label="@@aeropuerto.ciudad.label" label="Ciudad" />
    <app-input-row [group]="addForm" field="ciudadAbrev" i18n-label="@@aeropuerto.ciudadAbrev.label" label="Ciudad Abrev" />
    <app-input-row [group]="addForm" field="pais" i18n-label="@@aeropuerto.pais.label" label="Pais" />
    <input type="submit" i18n-value="@@aeropuerto.add.headline" value="Crear Aeropuerto" class="btn btn-primary mt-4" />
</form>
