<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1">Crea un Vuelo</h1>
    <div>
        <a routerLink="/vuelos" class="btn btn-secondary">Volver</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="idVuelo" label="Id Vuelo" />
    <app-input-row [group]="addForm" field="aerolinea"  label="Aerolinea" />
    <app-input-row [group]="addForm" field="precio"  label="Precio" />
    <app-input-row [group]="addForm" field="tipo" label="Tipo" />
    <app-input-row [group]="addForm" field="origen" label="Origen" />
    <app-input-row [group]="addForm" field="destino" label="Destino" />
    <app-input-row [group]="addForm" field="fecha" label="Fecha" />
    <app-input-row [group]="addForm" field="equipaje" rowType="select" [options]="equipajeValues" label="Equipaje" />
    <input type="submit" value="Crear Vuelo" class="btn btn-primary mt-4" />
</form>
