<header class="bg-light">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-md">
            <a routerLink="/" class="navbar-brand">
                <img ngSrc="/assets/logo.png" alt="TravelWithMeAPI" width="30" height="30" class="d-inline-block align-top">
                <span class="ps-1">TravelWithMeAPI</span>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                    aria-label="Toggle navigation" aria-controls="navbarToggle" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav ms-auto">
                    
                    <li class="navbar-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarEntitiesLink" role="button"
                                aria-expanded="false">Vuelos</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarEntitiesLink">
                            <li><a routerLink="/vuelos" class="dropdown-item">Vuelos</a></li>
                            <li><a routerLink="/trayectoVuelos" class="dropdown-item">Trayectos de vuelo</a></li>
                            <li><a routerLink="/aeropuertos" class="dropdown-item">Aeropuertos</a></li>
                        </ul>
                    </li>
                    <li class="navbar-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarEntitiesLink" role="button"
                                aria-expanded="false">Hoteles</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarEntitiesLink">
                            <li><a routerLink="/hoteles" class="dropdown-item">Hoteles</a></li>
                            <li><a routerLink="/direcciones" class="dropdown-item">Direcciones</a></li>
                            <li><a routerLink="/resenas" class="dropdown-item">Reseñas</a></li>
                            <li><a routerLink="/detallesHoteles" class="dropdown-item">Detalles de los hoteles</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
