<header class="bg-light">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-md">
            <a routerLink="/" class="navbar-brand">
                <img ngSrc="/assets/logo.png" i18n-alt="@@app.title" alt="TravelWithMeAPI" width="30" height="30" class="d-inline-block align-top">
                <span class="ps-1" i18n="@@app.title">TravelWithMeAPI</span>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                    i18n-aria-label="@@navigation.toggle" aria-label="Toggle navigation" aria-controls="navbarToggle" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav ms-auto">
                    
                    <li class="navbar-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarEntitiesLink" role="button"
                                aria-expanded="false" i18n="@@navigation.entities">Vuelos</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarEntitiesLink">
                            <li><a routerLink="/vuelos" class="dropdown-item" i18n="@@vuelo.list.headline">Vuelos</a></li>
                            <li><a routerLink="/trayectoVuelos" class="dropdown-item" i18n="@@trayectoVuelo.list.headline">Trayectos de vuelo</a></li>
                            <li><a routerLink="/aeropuertos" class="dropdown-item" i18n="@@aeropuerto.list.headline">Aeropuertos</a></li>
                        </ul>
                    </li>
                    <li class="navbar-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarEntitiesLink" role="button"
                                aria-expanded="false" i18n="@@navigation.entities">Hoteles</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarEntitiesLink">
                            <li><a routerLink="/hotels" class="dropdown-item" i18n="@@hotel.list.headline">Hoteles</a></li>
                            <li><a routerLink="/direccions" class="dropdown-item" i18n="@@direccion.list.headline">Direcciones</a></li>
                            <li><a routerLink="/resenas" class="dropdown-item" i18n="@@resena.list.headline">Reseñas</a></li>
                            <li><a routerLink="/detallesHotels" class="dropdown-item" i18n="@@detallesHotel.list.headline">Detalles de los hoteles</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
