<h1 class="mb-4" i18n="@@home.index.headline">Bienvenido a Travel With Me API</h1>
<p class="mb-5" i18n="@@home.index.text">Esta API proporciona endpoints para crear, leer, actualizar y eliminar (CRUD) información relacionada con vuelos y hoteles. Está diseñada para ser utilizada principalmente por TravelWithMeAPP, pero puede ser usada por cualquier APP de gestión de reservas de viajes.</p>
<h4 class="mb-3" i18n="@@home.index.exploreEntities">Entidades</h4>
<div class="row">
<div class="col-md-6 mb-6">
    
    <h4 class="mb-3" i18n="@@home.index.exploreEntities">Vuelos</h4>
    <div class="list-group">
        <a routerLink="/vuelos" class="list-group-item list-group-item-action" i18n="@@vuelo.list.headline">Vuelos</a>
        <a routerLink="/trayectoVuelos" class="list-group-item list-group-item-action" i18n="@@trayectoVuelo.list.headline">Trayectos de vuelo</a>
        <a routerLink="/aeropuertos" class="list-group-item list-group-item-action" i18n="@@aeropuerto.list.headline">Aeropuertos</a>
    </div>
    <div class="pt-3"></div>
</div>

<div class="col-md-6 mb-6">
    <h4 class="mb-3" i18n="@@home.index.exploreEntities">Hoteles</h4>
    <div class="list-group">
        <a routerLink="/hotels" class="list-group-item list-group-item-action" i18n="@@hotel.list.headline">Hoteles</a>
        <a routerLink="/direccions" class="list-group-item list-group-item-action" i18n="@@direccion.list.headline">Direcciones</a>
        <a routerLink="/detallesHotels" class="list-group-item list-group-item-action" i18n="@@detallesHotel.list.headline">Detalles de los hoteles</a>
        <a routerLink="/resenas" class="list-group-item list-group-item-action" i18n="@@resena.list.headline">Reseñas</a>
    </div>
</div>
</div>
