<h1 class="mb-4" i18n="@@home.index.headline">Welcome to your new app!</h1>
<p class="mb-5" i18n="@@home.index.text">Your app was created with <a href="https://bootify.io" target="_blank">Bootify.io</a> and can now be customized. If you are happy with the result, <strong>please recommend us to other developers</strong> - so Bootify.io can grow further.</p>
<div class="col-md-4 mb-5">
    <h4 class="mb-3" i18n="@@home.index.exploreEntities">Explore your entities</h4>
    <div class="list-group">
        <a routerLink="/vuelos" class="list-group-item list-group-item-action" i18n="@@vuelo.list.headline">Vueloes</a>
        <a routerLink="/trayectoVuelos" class="list-group-item list-group-item-action" i18n="@@trayectoVuelo.list.headline">Trayecto Vueloes</a>
        <a routerLink="/hotels" class="list-group-item list-group-item-action" i18n="@@hotel.list.headline">Hotels</a>
        <a routerLink="/aeropuertos" class="list-group-item list-group-item-action" i18n="@@aeropuerto.list.headline">Aeropuertoes</a>
        <a routerLink="/direccions" class="list-group-item list-group-item-action" i18n="@@direccion.list.headline">Direccions</a>
        <a routerLink="/resenas" class="list-group-item list-group-item-action" i18n="@@resena.list.headline">Resenas</a>
        <a routerLink="/detallesHotels" class="list-group-item list-group-item-action" i18n="@@detallesHotel.list.headline">Detalles Hotels</a>
    </div>
</div>
