<h1 class="mb-4" >Bienvenido a Travel With Me API</h1>
<p class="mb-5" >Esta API proporciona endpoints para crear, leer, actualizar y eliminar (CRUD) información relacionada con vuelos y hoteles. Está diseñada para ser utilizada principalmente por TravelWithMeAPP, pero puede ser usada por cualquier APP de gestión de reservas de viajes.</p>
<h3 class="mb-3" >Entidades</h3>
<div class="line"></div>
<div class="pt-4"></div>
<div class="row">
<div class="col-md-6 mb-6">
    
    <h4 class="mb-3">Vuelos</h4>
    <div class="list-group">
        <a routerLink="/vuelos" class="list-group-item list-group-item-action" >Vuelos</a>
        <a routerLink="/trayectoVuelos" class="list-group-item list-group-item-action" >Trayectos de vuelo</a>
        <a routerLink="/aeropuertos" class="list-group-item list-group-item-action" >Aeropuertos</a>
    </div>
    <div class="pt-3"></div>
</div>

<div class="col-md-6 mb-6">
    <h4 class="mb-3">Hoteles</h4>
    <div class="list-group">
        <a routerLink="/hotels" class="list-group-item list-group-item-action" >Hoteles</a>
        <a routerLink="/direccions" class="list-group-item list-group-item-action" >Direcciones</a>
        <a routerLink="/detallesHotels" class="list-group-item list-group-item-action" >Detalles de los hoteles</a>
        <a routerLink="/resenas" class="list-group-item list-group-item-action" >Reseñas</a>
    </div>
</div>
</div>
