<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1">Crea un Hotel</h1>
    <div>
        <a routerLink="/hoteles" class="btn btn-secondary">Volver</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="nombre"  label="Nombre" />
    <app-input-row [group]="addForm" field="fotos" rowType="textarea" label="Fotos" />
    <app-input-row [group]="addForm" field="fechasLibres" rowType="textarea" label="Fechas Libres" />
    <app-input-row [group]="addForm" field="direccion" rowType="select" [options]="direccionValues" label="Direccion" />
    <app-input-row [group]="addForm" field="detallesHotel" rowType="select" [options]="detallesHotelValues" label="Detalles Hotel" />
    <input type="submit" value="Crear Hotel" class="btn btn-primary mt-4" />
</form>
