<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@trayectoVuelo.add.headline">Crea un Trayecto de Vuelo</h1>
    <div>
        <a routerLink="/trayectoVuelos" class="btn btn-secondary" i18n="@@trayectoVuelo.add.back">Volver</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="idTrayecto" i18n-label="@@trayectoVuelo.idTrayecto.label" label="Id Trayecto" />
    <app-input-row [group]="addForm" field="aerolinea" i18n-label="@@trayectoVuelo.aerolinea.label" label="Aerolinea" />
    <app-input-row [group]="addForm" field="tipo" i18n-label="@@trayectoVuelo.tipo.label" label="Tipo" />
    <app-input-row [group]="addForm" field="fechaSalida" i18n-label="@@trayectoVuelo.fechaSalida.label" label="Fecha Salida" />
    <app-input-row [group]="addForm" field="fechaLlegada" i18n-label="@@trayectoVuelo.fechaLlegada.label" label="Fecha Llegada" />
    <app-input-row [group]="addForm" field="escala" rowType="checkbox" i18n-label="@@trayectoVuelo.escala.label" label="Escala" />
    <app-input-row [group]="addForm" field="fechaInicioEscala" i18n-label="@@trayectoVuelo.fechaInicioEscala.label" label="Fecha Inicio Escala" />
    <app-input-row [group]="addForm" field="fechaFinEscala" i18n-label="@@trayectoVuelo.fechaFinEscala.label" label="Fecha Fin Escala" />
    <app-input-row [group]="addForm" field="terminalSalida" i18n-label="@@trayectoVuelo.terminalSalida.label" label="Terminal Salida" />
    <app-input-row [group]="addForm" field="terminalLlegada" i18n-label="@@trayectoVuelo.terminalLlegada.label" label="Terminal Llegada" />
    <app-input-row [group]="addForm" field="vuelo" rowType="select" [options]="vueloValues" i18n-label="@@trayectoVuelo.vuelo.label" label="Vuelo" />
    <app-input-row [group]="addForm" field="origen" rowType="select" [options]="origenValues" i18n-label="@@trayectoVuelo.origen.label" label="Origen" />
    <app-input-row [group]="addForm" field="destino" rowType="select" [options]="destinoValues" i18n-label="@@trayectoVuelo.destino.label" label="Destino" />
    <input type="submit" i18n-value="@@trayectoVuelo.add.headline" value="Crear Trayecto Vuelo" class="btn btn-primary mt-4" />
</form>
