<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@trayectoVuelo.add.headline">Crea un Trayecto de Vuelo</h1>
    <div>
        <a routerLink="/trayectoVuelos" class="btn btn-secondary" i18n="@@trayectoVuelo.add.back">Volver</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="idTrayecto" label="Id Trayecto" />
    <app-input-row [group]="addForm" field="aerolinea"  label="Aerolinea" />
    <app-input-row [group]="addForm" field="tipo"label="Tipo" />
    <app-input-row [group]="addForm" field="fechaSalida" rowType="datetime-local" label="Fecha Salida" />
    <app-input-row [group]="addForm" field="fechaLlegada" rowType="datetime-local"  label="Fecha Llegada" />
    <app-input-row [group]="addForm" field="escala" rowType="checkbox" (change)="onCheckBoxEscalaChange($event)"  label="Escala" />
    @if (checkBoxEscalaIsChecked) {
        <app-input-row [group]="addForm" field="fechaInicioEscala" rowType="datetime-local"  label="Fecha Inicio Escala" />
        <app-input-row [group]="addForm" field="fechaFinEscala" rowType="datetime-local"  label="Fecha Fin Escala" />
    }
    <app-input-row [group]="addForm" field="terminalSalida"  label="Terminal Salida" />
    <app-input-row [group]="addForm" field="terminalLlegada"  label="Terminal Llegada" />
    <app-input-row [group]="addForm" field="vuelo" rowType="select" [options]="vueloValues" label="Vuelo" />
    <app-input-row [group]="addForm" field="origen" rowType="select" [options]="origenValues" label="Origen" />
    <app-input-row [group]="addForm" field="destino" rowType="select" [options]="destinoValues" label="Destino" />
    <input type="submit" value="Crear Trayecto Vuelo" class="btn btn-primary mt-4" />
</form>
