<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@trayectoVuelo.edit.headline">Editar Trayecto de Vuelo</h1>
    <div>
        <a routerLink="/trayectoVuelos" class="btn btn-secondary" i18n="@@trayectoVuelo.edit.back">Volver</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number"  label="Id" />
    <app-input-row [group]="editForm" field="idTrayecto"  label="Id Trayecto" />
    <app-input-row [group]="editForm" field="aerolinea"  label="Aerolinea" />
    <app-input-row [group]="editForm" field="tipo"  label="Tipo" />
    <app-input-row [group]="editForm" field="fechaSalida"  label="Fecha Salida" />
    <app-input-row [group]="editForm" field="fechaLlegada"  label="Fecha Llegada" />
    <app-input-row [group]="editForm" field="escala" rowType="checkbox"  (change)="onCheckBoxEscalaChange($event)" label="Escala" />
    @if (checkBoxEscalaIsChecked) {
        <app-input-row [group]="editForm" field="fechaInicioEscala" rowType="datetime-local"  label="Fecha Inicio Escala" />
        <app-input-row [group]="editForm" field="fechaFinEscala" rowType="datetime-local"  label="Fecha Fin Escala" />
    }
    <app-input-row [group]="editForm" field="terminalSalida"  label="Terminal Salida" />
    <app-input-row [group]="editForm" field="terminalLlegada"  label="Terminal Llegada" />
    <app-input-row [group]="editForm" field="vuelo" rowType="select" [options]="vueloValues"  label="Vuelo" />
    <app-input-row [group]="editForm" field="origen" rowType="select" [options]="origenValues"  label="Origen" />
    <app-input-row [group]="editForm" field="destino" rowType="select" [options]="destinoValues" label="Destino" />
    <input type="submit"  value="Editar Trayecto Vuelo" class="btn btn-primary mt-4" />
</form>
